import(testthat)
export(cfaGaps)
export(bootstrapSRS)
export(bootstrapSRS_SGP)
export(computeHoMetric2)
import(data.table)
import(grid)
import(mice)
importFrom(crayon,bold,green,magenta,red,yellow)
importFrom(utils,packageVersion)
importFrom(grDevices,dev.off,extendrange,pdf)
importFrom("stats", "na.omit", "quantile", "sd", "lm", "predict", "reshape")
importFrom("toOrdinal", "toOrdinalDate")
